{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">

        <div>
            Здесь будет форма создания айтема колекции
        </div>

        <h1>New Collection Item Create</h1>

    </div>

{% endblock %}