{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <div>
            <h2>
                Главная страница пользователя
            </h2>
        </div>
    </div>
{% endblock %}